@model ECommerce.Models.CategoriaViewModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Categoria</title>
</head>
<body>
    <div>
        <h2>Ésta es la vista Consultas/Categoria</h2> <br>
        <h2>Probando si funciona el Layout</h2> <br>
        <label>El Id es: @Model.IdCategoria </label> <br>
        <label>El nombre de ésta categoria es: @Model.Nombre </label>
    </div>
</body>
</html>
