@model ECommerce.Models.ProductoViewModel

@section styles{
    <!-- Custom styles for this template -->
    <link href="~/Content/shop-homepage.css" rel="stylesheet">
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Vista Producto/Index</title>
</head>
<body>
    <div>
        El producto elegido es @Model.Nombre
    </div>
</body>
</html>
